@use '../../../styles/variables.scss' as *;


.navbar {
  background-color: $primaryColor;
  position: sticky; /* Ustawienie sticky */
  top: 0; /* Przyklejenie do góry */
  z-index: 1000; /* Umożliwia wyświetlanie nad innymi elementami */
  display: flex; /* Używamy flexboxa do układu */
  justify-content: center; /* Rozdzielamy elementy */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Cień dla efektu głębi */
  height: 5rem;
  margin-bottom: 25px;
  align-items: center;
}
